.cube-1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 30vh;
    z-index: -1;
    margin-left: -4em;
}
.color_golden{
    color:goldenrod;
}
.color_gray{
    color: gray;
    text-shadow: 0px 0px 10px white;
}